<table class="table table-hover">
  {{ $workstations := . }} 
  <tr>
    <th>Name</th>
    <th>Docker Image</th>
    <th>State</th>
    <th></th>
  </tr>
  {{range $index, $workstation := $workstations }}
    <tr>
      <td>{{$workstation.Name}}</td>
      <td>{{$workstation.DockerImage}}</td>
      <td>{{$workstation.State}}</td>
      <td>
        {{ if $workstation.Running }}
          <a class="btn btn-success" href="/shell/{{$workstation.Name}}">Attach</a>
        {{ end }}
      </td>
    </tr>
  {{end}}
</table>
